<!DOCTYPE hibernate-configuration PUBLIC
      "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
      "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd" >

<hibernate-configuration>
	<session-factory>
		<mapping class="com.portaldc.api.model.user.User" />
		<mapping class="com.portaldc.api.model.role.Role" />
        <mapping class="com.portaldc.api.model.category.Category" />
        <mapping class="com.portaldc.api.model.category.Subcategory" />
        <mapping class="com.portaldc.api.model.distributions.Distribution" />
        <mapping class="com.portaldc.api.model.distributions.Film" />
        <mapping class="com.portaldc.api.model.distributions.link.Link" />

	</session-factory>
</hibernate-configuration>