<nav class="navbar navbar-default navbar-fixed-top">

    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#pdc-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand">Portal DC</span>
        </div>

        <div class="collapse navbar-collapse" id="pdc-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#/home">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-expanded="false">Distributions<span class="caret"></span> </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Create distribution</a></li>
                        <li><a href="#">View my distribution</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-expanded="false">Profile<span class="caret"></span> </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Setting</a></li>
                    </ul>
                </li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

